<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h2>Test</h2>

<p th:text="${'User: ' + user}"></p>

<h3>Tests</h3>

<p><a th:href="@{/addtest}">Add</a></p>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th></th>
    </tr>
    <tr th:each="test : ${tests}">
        <td th:text="${test.id}"></td>
        <td th:text="${test.name}"></td>
        <td><a th:href="@{/test/} + ${test.id}" th:text="edit"></a></td>
    </tr>
</table>

</body>
</html>