<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<form name="f" action="login" method="POST">
    <p>
        <label for="username">User</label>
        <input id="username" type="text" name="username" value="test" />
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" value="test" />
    </p>
    <p>
        <button id="loginbutton" type="submit" name="submit">Login</button>
    </p>
</form>

</body>
</html>