<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script>
        function addLabel() {
            document.getElementById("testForm").action = "/test/addlabel";
            document.getElementById("testForm").submit();
        }
    </script>
</head>
<body>

<h2>Test</h2>

<p><a th:href="@{/}" th:text="back"></a></p>

<h3>Edit</h3>

<form id="testForm" action="#" th:action="@{/test}" th:object="${testForm}" method="post">

    <input type="hidden" th:field="*{test.id}" />

    <p>
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{test.name}" />
    </p>

    <p>
        <button id="testbutton" type="submit" name="testbutton">Save</button>
    </p>

    <h4>Labels</h4>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr th:each="label : *{test.labels}">
            <td th:text="${label.id}"></td>
            <td th:text="${label.name}"></td>
        </tr>
    </table>

    <p>
        <select id="label" th:field="*{label}">
            <option value="">(select label)</option>
            <option th:each="label : ${labels}"
                    th:value="${label.id}"
                    th:text="${label.name}"></option>
        </select>

        <a href="#" onclick="addLabel();">Add</a>
    </p>

</form>

</body>
</html>